/* GENERAL STYLES */
* {
    color: #555;
    font-family: Futura, sans-serif;
}

body {
    margin: 0 0 8px;
}

.container {
    font-size: 14px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.content > * {
    margin: 15px;
}

@media (min-width: 1200px) {
    .content {
        max-width: 1000px;
        width: 100%;
    }
}

@media (min-width: 800px) {
    .content {
        flex-direction: row;
        justify-content: space-around;
    }

    .content > * {
        margin: 0 30px;
        width: 100%;
    }
}

.title {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.text-button {
    border-top: 1px solid #f2f2f2;
    cursor: pointer;
    padding: 10px;
}

.hidden {
    margin: 0;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
}

.hidden-content {
    transition: max-height ease-in-out 1s, opacity ease-in-out 1s;
}

/* HEAD STYLES */
.head {
    align-items: center;
    box-shadow: 0 4px 15px #999;
    display: flex;
    margin: 0 0 50px;
}

.head .head-title {
    flex: 0 1 80%;
    font-size: 40px;
    margin: 20px 0 20px 15px;
}

.head .names {
    flex: 0 1 20%;
    font-size: 10px;
    text-align: end;
}

/* WIKIPEDIA STYLE */
#title-quote {
    font-size: 30px;
    font-variant: small-caps;
    margin: 0;
}

#title-quote-author {
    font-size: 20px;
    font-variant: small-caps;
    margin: 0 0 15px;
    text-align: right;
}

#wikipedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px 50px;
    max-width: 1000px;
    width: auto;
}

@media (min-width: 1000px) {
    #wikipedia {
        margin: 0 auto 50px;
    }
}

.wiki-content {
    display: flex;
}

.wiki-link {
    font-variant: small-caps;
    text-transform: lowercase;
}

#loading {
    display: none;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

#wiki-title {
    margin: 5px 0;
}

.wiki-content-text {
    margin: 0 15px;
}

#wiki-img.no-img {
    border: 5px solid #f2f1f1;
    display: block;
    height: 90px;
    padding: 35px;
}

#wiki-img.no-img::after {
    align-items: center;
    color: #a6a6a6;
    content: 'no image available';
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}

/* FORM STYLE */
#word-count {
    font-size: 10px;
    display: block;
    text-align: right;
}

.form-control {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 0 15px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
}

.form-control:focus {
    /*border-color: #66afe9;*/
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.btn {
    background-color: #006999;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    padding: 6px 14px;
    transition: background-color ease-in-out .15s;
    width: 100%;
}

.btn:hover {
    background-color: #008bcc;
}

.selectize-control.multi .selectize-input [data-value] {
    background-color: #008bcc;
    background-image: none;
}

/* PAGINATION */
.pagination {
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.step-links a {
    color: #006999;
}

/* QUOTE STYLE */
.quote {
    align-items: center;
    display: flex;
}

.quote .quote-content {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.quote:nth-of-type(2n) .quote-content {
    background-color: #e6f7ff;
}

.quote .author {
    font-size: 10px;
    text-transform: uppercase;
}

.quote .quote-content.active {
    background-color: #fffee6;
    border-color: #fff500;
}