/* GENERAL STYLES */
* {
    color: #555;
    font-family: Futura, sans-serif;
}

body {
    margin: 0 0 8px;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0 auto;
}

.container > * {
    margin: 15px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
        width: 100%;
    }
}

@media (min-width: 800px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .container > * {
        margin: 0 15px;
        width: 100%;
    }
}

.title {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* HEAD STYLES */
.head {
    align-items: center;
    display: flex;
    margin: 0 15px;
}

.head .head-title {
    flex: 0 1 80%;
    font-size: 40px;
    margin: 20px 0;
}

.head .names {
    flex: 0 1 20%;
    font-size: 10px;
    text-align: end;
}

/* FORM STYLE */
.form-control {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 0 15px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
}

.form-control:focus {
    /*border-color: #66afe9;*/
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.btn {
    background-color: #006999;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 6px 14px;
    transition: background-color ease-in-out .15s;
    width: 100%;
}

.btn:hover {
    background-color: #008bcc;
}

/* PAGINATION */
.pagination {
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.step-links a {
    color: #006999;
}

/* QUOTE STYLE */
.quote {
    background-color: #e6f7ff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.quote:nth-of-type(2n) {
    background-color: #fff;
}

.quote .author {
    font-size: 10px;
    text-transform: uppercase;
}