<html>
    <head>
        <!-- <link rel="stylesheet" href="/static/bootstrap.min.css"> -->
        <link rel="stylesheet" href="/static/main.css">
    </head>

    <body>
        <div class="head">
            <p class="head-title">Quote Match</p>
            <p class="names">Ariel Gleitman (ag739)<br>Dean Olin (dwo27)<br>Galen Weld (gcw33)<br>Haotian Liu (hl678)</p>
        </div>

        <div class="container">

            <div class="left">
                {% if output %}
                    <div class="wikipedia">
                        <p id="wiki-title" class="title"></p>
                        <p id="wiki-text">Click on a quote to learn more about its author</p>
                    </div>
                {% endif %}

                <form class="form-group" method="GET">
                    <p class="title">Enter Query Here</p>
                    <div class="form-group">
                        <input type="hidden" name="version" value="v1">
                        <textarea id="input" type="text" name="search" class="form-control" placeholder="Your Input" rows="15">{% if input %}{{input}}{% endif %}</textarea>
                    </div>
                    <button type="submit" class="btn btn-info">GO</button>
                </form>
            </div>

            <div class="right form-inline global-search">
                <div class="results-title">
                    <p class="title">Results</p>
                    <p class="title">
                        <a onclick="showHiddenContent()">I want to improve my results!</a>
                    </p>
                </div>
                <div class="hidden hidden-content">
                    <p>Select the top quotes from the first 15 results, and we'll improve your query's results!</p>
                    <button type="submit" class="btn btn-info">RECALCULATE</button>
                </div>

                {% if output %}
                    <!-- to check if checkbox is checked, run
                         $("input[name='rocchio']").each(function(i, d) {console.log(d.checked);}) -->
                     <!-- need to change output so that it also includes quote id so value can be quote id -->
                    {% for quote, author, score in output %}
                        <div class="quote">
                            <div class="quote-content">
                                <p>{{quote}}</p>
                                <p class="author">by {{author}}</p>
                            </div>
                            <input class="hidden hidden-content" type="checkbox" name="rocchio" value="{{quote}}">
                        </div>
                    {% endfor %}

                    <div class="pagination">
                        <span class="step-links">
                            {% if output.has_previous %}
                            <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                            {% endif %}
                            
                            <!-- Showing the page numbers in Html Page -->
                            <span class="current">
                            Page {{ output.number }} of {{ output.paginator.num_pages }}
                            </span>
                            
                            {% if output.has_next %}
                            <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>

                {% else %}

                    <p>Results will appear here on valid input</p>

                {% endif %}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script>
            $(".quote-content").on("click", function(){
                if ($(".active").length > 0) {
                    $(".active")[0].classList.remove("active");
                }
                this.classList.add("active");

                var author = $(".active .author")[0].innerHTML.substr(3);
                console.log("learning more about " + author);
                $.ajax({
                    url: "getWiki",
                    data: {
                        "author": author
                    },
                    dataType: "json",
                    success: function(data) {
                        if (data.extraction == "") {
                            $("#wiki-title").html("");
                            $("#wiki-text").html("Information on " + author + " unavailable. Try checking <a target='_blank' href='" + data.pageurl + "'>this link</a> to learn more.");
                        } else {
                            $("#wiki-title").html("From <a href='" + data.pageurl + "' target='_blank'>Wikipedia</a>...");
                            $("#wiki-text").html(data.extraction);
                        }
                    }
                });  
            });

            function showHiddenContent() {
                if ($(".results-title + .hidden-content")[0].classList.length == 1) {
                    // about to retoggle to hidden
                    $(".results-title p a")[0].innerHTML = "I want to improve my results!";
                } else {
                    $(".results-title p a")[0].innerHTML = "I don't want to improve my results";
                }

                $(".hidden-content").each(function(i, d) {
                    d.classList.toggle("hidden");
                });
            }
        </script>
    </body>
</html>
